<mat-toolbar color="primary" class="little">
  <span>Cadastros de categorias</span>
  <span fxFlex></span>
  <button mat-button href="#" mat-icon-button (click)="adicionarCategoriaForm()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-button href="#" mat-icon-button>
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<div fxLayout="row" fxLayoutWrap="wrap">
  <div fxFlex.gt-sm="33.33%" fxFlex="100" *ngFor="let categoria of categorias">
    <app-categorias-form [categoria]="categoria" (removerCategoria)="aoRemover($event)" (atualizaCategoria)="aoSalvar($event)"></app-categorias-form>
  </div>
</div>