<mat-card>
    <form [formGroup]="formulario" autocomplete="off">
        <mat-card-title>
            <h4>ID {{ categoria.idCategoria ? categoria.idCategoria : 'Indefinido' }}</h4>

        </mat-card-title>
        <mat-card-content>
            <div fxLayout="row" fxLayoutWrap="wrap">
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100">
                    <div *ngIf="!hasEdit">
                        <div *ngIf="categoria.image">
                            <img height="75" [src]="categoria.image" alt="">
                        </div>
                    </div>
                    <div *ngIf="hasEdit">
                        <div class="form-field form-field-file wrap">
                            <label for="file-upload">Escolha uma imagem...</label>
                            <input type="file" name="file-upload" id="file-upload" (change)="fileChangeEvent($event)" />
                        </div>
                        <image-cropper style="width:300px;"  [imageChangedEvent]="imageChangedEvent" 
                                        [maintainAspectRatio]="true"
                                        [aspectRatio]="39 / 9 " 
                                        [resizeToWidth]="300" 
                                        format="png" 
                                        (imageCropped)="imageCropped($event)"
                                        (loadImageFailed)="loadImageFailed()">
                        </image-cropper>
                        <img [src]="croppedImage" />
                    </div>
                </div>
            </div>
            <div fxLayout="row" fxLayoutWrap="wrap">
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Nome" formControlName="nome" [(ngModel)]="categoria.nome">
                        <mat-hint *ngIf="formulario.controls['nome'].hasError('required') && formulario.controls['nome'].touched"
                            class="text-danger font-14">O nome é obrigatório.</mat-hint>
                    </mat-form-field>
                    <mat-checkbox class="example-margin" formControlName="fativo" [(ngModel)]="categoria.fativo">Ativo</mat-checkbox>
                </div>
            </div>
            <hr>
            <div fxLayout="row" fxLayoutWrap="wrap">
                <h6>Subcategorias</h6>
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100">
                    <mat-form-field class="example-full-width" *ngIf="formulario.enabled">
                        <input matInput placeholder="Inclua uma nova categoria" [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" matChipInputAddOnBlur="true"
                            (matChipInputTokenEnd)="addSubcategoria($event)" [disabled]="formulario.disabled">
                        <mat-hint *ngIf="formulario.controls['nome'].hasError('required') && formulario.controls['nome'].touched"
                            class="text-danger font-14">O nome é obrigatório.</mat-hint>
                    </mat-form-field>
                    <mat-chip-list #chipList>
                        <mat-chip *ngFor="let subcategoria of categoria.subcategorias" [disabled]="formulario.disabled">
                            {{subcategoria.nome}}
                            <mat-icon matChipRemove *ngIf="formulario.enabled" (click)="formulario.enabled && removeSubcategoria(subcategoria)">cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </div>
            <hr>
            <div fxLayout="row" fxLayoutWrap="wrap">
                <h6>Unidades de medida</h6>
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100">
                    <div fxFlex.gt-sm="90" fxFlex.gt-xs="90" *ngIf="formulario.enabled">
                        <mat-form-field>
                            <mat-select placeholder="Selecione uma medida" [(ngModel)]="unidadeMedidaSelecionada"
                                [ngModelOptions]="{standalone: true}" [disabled]="formulario.disabled">
                                <mat-option *ngFor="let unidadeMedida of unidadesMedida" [value]="unidadeMedida"
                                    [disabled]="!unidadeMedida.fativo">{{
                                    unidadeMedida.nome }} ({{unidadeMedida.sigla}})</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxFlex.gt-sm="10" fxFlex.gt-xs="10" *ngIf="formulario.enabled">
                        <button mat-icon-button color="primary" [disabled]="formulario.disabled" (click)="addUnidadeMedida()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </div>
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100">
                    <mat-chip-list #chipList>
                        <mat-chip *ngFor="let unidadeMedida of categoria.unidadesMedida" [disabled]="formulario.disabled">
                            {{unidadeMedida.nome}}
                            <mat-icon matChipRemove *ngIf="formulario.enabled" (click)="formulario.enabled && removeUnidadeMedida(unidadeMedida)">cancel</mat-icon>
                        </mat-chip>
                        <input [matChipInputFor]="chipList" [disabled]="formulario.disabled" />
                    </mat-chip-list>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="warn" *ngIf="hasEdit" (click)="cancelar()">CANCELAR</button>
            <button mat-raised-button color="warn" *ngIf="hasEdit && categoria.idCategoria" (click)="excluir()">EXCLUIR</button>
            <button mat-raised-button color="primary" *ngIf="hasEdit" [disabled]="formulario.invalid" (click)="salvar()">SALVAR</button>
            <button mat-button color="primary" *ngIf="!hasEdit" (click)="formulario.enable(); hasEdit = true">EDITAR</button>
        </mat-card-actions>
    </form>
</mat-card>