.mat-card {
    border: 1px solid grey !important; 
    border-radius: 10px !important;
}

.mat-card-title {
    margin: 10px !important;
}

.mat-card-title button {
    width: 100% !important;
}

.mat-card-content {
    margin-top: 0 !important; 
    margin-bottom: 0 !important; 
    padding-top: 0 !important; 
    padding-bottom: 0 !important;
}

.mat-card-actions {
    margin: 10px !important; 
    text-align: right !important;
}

.mat-card-content h6 {
    margin: 10px 0px !important;
}


.form-field-file label{
    font-size: 0.7em !important;
    border:1px solid #eee;
    padding: 5px;
    cursor: pointer;
}

.form-field-file input[type="file"] {
    position: absolute;
    z-index: -1;
    
    opacity: 0;
    overflow: hidden;
}