<mat-tab-group class="demo-tab-group">
  <mat-tab *ngFor="let localidade of perfilFerramentasComponent.mercado?.mercadoLocalidades">
    <ng-template mat-tab-label>
      {{ localidade.bairro.cidade.nome }} - {{ localidade.bairro.nome }}
    </ng-template>
    <div class="demo-tab-content">
      <div fxLayout="row" fxLayoutWrap="wrap">
        <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
          {{ localidade.googlemapsLinks.split(',').length === 1 ? '- 1 Filial' :
          ('- ' + localidade.googlemapsLinks.split(',').length + ' filiais') }}
        </div>
        <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" *ngFor="let servico of localidade.mercadoServicos">
          {{ '- ' + servico.pacoteServico.nome }}
        </div>
        <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
          Valor da conta regional: {{ getValorRegional(localidade) | currency:'BRL':true }}
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>