<mat-card>
  <mat-card-content>
    <h4>Pré visualização</h4>
    <div fxLayout="row" fxLayoutWrap="wrap">
      <div fxFlex.gt-sm="20" fxFlex.gt-xs="20">
        <div style="height: 100px; width: 100px; background-color: black; border-radius: 50px"></div>
      </div>
      <div fxFlex.gt-sm="80" fxFlex.gt-xs="80">
        <p style="font-weight: 500">{{ mercadoComponent.mercado.nomeFantasia }}</p>
        <p>Valor da conta total: {{ getValorTotal() | currency:'BRL':true }}</p>
      </div>
    </div>
    <br>
    <div fxLayout="row" fxLayoutWrap="wrap">
      <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
        <span style="font-weight: 500; padding-right: 10px">Razão social: </span>
        {{ mercadoComponent.mercado.razaoSocial }}
      </div>
      <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
        <span style="font-weight: 500; padding-right: 10px">Senha: </span>
        {{ mercadoComponent.mercado.senha }}
      </div>
      <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
        <span style="font-weight: 500; padding-right: 10px">Nome fantasia:
        </span>
        {{ mercadoComponent.mercado.nomeFantasia }}
      </div>
      <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
        <span style="font-weight: 500; padding-right: 10px">Telefone: </span>
        {{ mercadoComponent.mercado.telefone }}
      </div>
      <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
        <span style="font-weight: 500; padding-right: 10px">CNPJ: </span>
        {{ mercadoComponent.mercado.cnpj }}
      </div>
      <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
        <span style="font-weight: 500; padding-right: 10px">E-mail: </span>
        {{ mercadoComponent.mercado.email }}
      </div>
    </div>
    <hr>
    <mat-tab-group class="demo-tab-group">
      <mat-tab *ngFor="let localidade of mercadoComponent.mercado.mercadoLocalidades">
        <ng-template mat-tab-label>
          {{ localidade.bairro.cidade.nome }} - {{ localidade.bairro.nome }}
        </ng-template>
        <div class="demo-tab-content">
          <div fxLayout="row" fxLayoutWrap="wrap">
            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
              {{ localidade.googlemapsLinks.split(',').length === 1 ? '- 1 Filial' :
              ('- ' + localidade.googlemapsLinks.split(',').length + ' filiais') }}
            </div>
            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" *ngFor="let servico of localidade.mercadoServicos">
              {{ '- ' + servico.pacoteServico.nome }}
            </div>
            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
              Valor da conta regional: {{ getValorRegional(localidade) | currency:'BRL':true }}
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="warn">CANCELAR</button>
    <button mat-button color="primary" (click)="mercadoComponent.salvar()">CONCLUIR</button>
  </mat-card-actions>
</mat-card>