<mat-card class="shadow-border">
  <form [formGroup]="formulario" autocomplete="off" >
    <mat-card-title >
      <div fxLayout="row" fxLayoutWrap="wrap"  style="margin-top:30px;">
        <div style="height:50%; margin: -20px auto -20px auto;padding: 5px; border: 1px solid #eee;" alt="">
          <img src="{{myImage}}" alt="">
        </div>
      </div>

    </mat-card-title>
    <mat-card-content>
     
      <div fxLayout="row" fxLayoutWrap="wrap">
        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" style="margin-top:30px;">
          <mat-form-field>
            <mat-select placeholder="Categorias" formControlName="categoria" >
              <mat-option *ngFor="let categoria of categorias"
               (click)="atualizaCategoriaSelect(categoria)" [value]="categoria.idCategoria" >
                {{categoria.nome}}
              </mat-option>
            </mat-select>
            <mat-hint
              *ngIf="formulario.controls['categoria'].hasError('required') && formulario.controls['categoria'].touched"
              class="text-danger font-14">A Categoria é obrigatória.</mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Subcategorias" formControlName="subcategoria">
              <mat-option *ngFor="let subcategoria of subcategorias"
                          (click)="atualizaSubcategoriaSelect(subcategoria)" 
                          [value]="subcategoria.idSubcategoria">
                {{subcategoria.nome}}
              </mat-option>
            </mat-select>
            <mat-hint
              *ngIf="formulario.controls['subcategoria'].hasError('required') && formulario.controls['subcategoria'].touched"
              class="text-danger font-14">A subcategoria é obrigatória.</mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Marcas" formControlName="marca"
              (selectionChange)="atualizaMarcaSelect($event.value)">
              <mat-option *ngFor="let marca of marcasNome" [value]="marca">
                {{marca}}
              </mat-option>
            </mat-select>
            <mat-hint *ngIf="formulario.controls['marca'].hasError('required') && formulario.controls['marca'].touched"
              class="text-danger font-14">A marca é obrigatório.</mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Produtos" formControlName="produto"
              (selectionChange)="atualizaProdutoSelect($event.value)">
              <mat-option *ngFor="let produto of produtosNome" [value]="produto">
                {{produto}}
              </mat-option>
            </mat-select>
            <mat-hint
              *ngIf="formulario.controls['produto'].hasError('required') && formulario.controls['produto'].touched"
              class="text-danger font-14">O produto é obrigatório.</mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Caracteristicas" formControlName="caracteristica"
              (selectionChange)="atualizaCaracteristicaSelect($event.value)">
              <mat-option *ngFor="let caract of caracteristicasNome" [value]="caract">
                {{caract}}
              </mat-option>
            </mat-select>
            <mat-hint
              *ngIf="formulario.controls['caracteristica'].hasError('required') && formulario.controls['caracteristica'].touched"
              class="text-danger font-14">A característica é obrigatório.</mat-hint>
          </mat-form-field>
        </div>
        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100">
          <mat-form-field class="example-full-width">
            <mat-select placeholder="Peso" formControlName="peso" (selectionChange)="atualizaPesoSelect($event.value)">
              <mat-option *ngFor="let unidade of unidadesMedida" [value]="unidade">
                {{unidade.valor}} - {{unidade.unidade}}
              </mat-option>
            </mat-select>
            <mat-hint class="text-danger font-14"
              *ngIf="formulario.controls['peso'].hasError('required') && formulario.controls['peso'].touched">
              O peso é obrigatório.
            </mat-hint>
          </mat-form-field>
        </div>

        <div fxFlex.gt-sm="80" fxFlex.gt-xs="80">
          <mat-form-field class="example-full-width">
              
            <input matInput 
                  placeholder="Preço" 
                  type="text" 
                  formControlName="preco"
                  [value]="mercadoProduto.preco ||''">
          </mat-form-field>
        </div>
        <div fxFlex.gt-sm="20" fxFlex.gt-xs="20">
          <mat-form-field class="example-full-width">
            <input matInput readonly value="R$">
          </mat-form-field>
        </div>
        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100">
          <mat-form-field class="example-full-width">
            <input type="text" matInput placeholder="Observação" formControlName="observacao" [value]="mercadoProduto.observacao ||'' ">
          </mat-form-field>
        </div>
        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100">
          <mat-form-field class="example-full-width">
            <mat-select placeholder="boost" formControlName="boost" [(ngModel)]="boostOn">
              <mat-option *ngFor="let boost of boosts" [value]="boost.id">
                {{boost.name}}
              </mat-option>
            </mat-select>
            <mat-hint class="text-danger font-14"
              *ngIf="formulario.controls['boost'].hasError('required') && formulario.controls['boost'].touched">
              O boost é obrigatório.
            </mat-hint>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="warn"  *ngIf="hasEdit" (click)="cancelar()">CANCELAR</button>
      <button mat-raised-button color="warn" *ngIf="hasEdit && mercadoProduto.idMercadoProduto" (click)="excluir()">EXCLUIR</button>
      <button mat-raised-button color="primary" [disabled]="formulario.invalid" *ngIf="hasEdit" (click)="btnSalvar(formulario)">SALVAR</button>
      <button mat-button color="primary" *ngIf="!hasEdit" (click)="formulario.enable(); hasEdit = true">Editar</button>
    </mat-card-actions>
    
  </form>
</mat-card>