<mat-card class="shadow-border">
  <form [formGroup]="formulario" autocomplete="off">
    <mat-card-title>
      <div fxLayout="row" fxLayoutWrap="wrap" style="margin-top:30px;" *ngIf="produtoImagem">
        <div style="height:50%; margin: -20px auto -20px auto;padding: 5px; border: 1px solid #eee;" alt="">
          <img src="{{produtoImagem}}" alt="produtoImagem">
        </div>
      </div>
    </mat-card-title>
    <mat-card-content>

      <div fxLayout="row" fxLayoutWrap="wrap">
        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" style="margin-top:30px;">
          <mat-form-field>
            <mat-select placeholder="Subcategorias" formControlName="subcategoria">
              <mat-option *ngFor="let subcategoria of subcategorias"
                (click)="atualizaMarcasPorSubcategoria(subcategoria.idSubcategoria)" [value]="subcategoria.idSubcategoria">
                {{subcategoria.nome}}
              </mat-option>
            </mat-select>
            <mat-hint
              *ngIf="formulario.controls['subcategoria'].hasError('required') && formulario.controls['subcategoria'].touched"
              class="text-danger font-14">A subcategoria é obrigatória.</mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Marcas" formControlName="marca" >
              <mat-option *ngFor="let marca of marcas" [value]="marca" (click)="atualizaMarcasPorSubcategorias(marca)">
                {{marca}}
              </mat-option>
            </mat-select>
            <mat-hint *ngIf="formulario.controls['marca'].hasError('required') && formulario.controls['marca'].touched"
              class="text-danger font-14">A marca é obrigatório.</mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Produtos" formControlName="produto">
              <mat-option *ngFor="let produto of produtosNome" [value]="produto" (click)="atualizaProdutoPorMarca(produto)">
                {{produto}}
              </mat-option>
            </mat-select>
            <mat-hint
              *ngIf="formulario.controls['produto'].hasError('required') && formulario.controls['produto'].touched"
              class="text-danger font-14">O produto é obrigatório.</mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Caracteristicas" formControlName="caracteristica">
              <mat-option *ngFor="let caract of caracteristicas" [value]="caract" (click)="atualizaCaracteristicaPorProduto(caract)">
                {{caract}}
              </mat-option>
            </mat-select>
            <mat-hint
              *ngIf="formulario.controls['caracteristica'].hasError('required') && formulario.controls['caracteristica'].touched"
              class="text-danger font-14">A característica é obrigatório.</mat-hint>
          </mat-form-field>
        </div>
        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100">
          <mat-form-field class="example-full-width">
            <mat-select placeholder="Peso" formControlName="peso">
              <mat-option *ngFor="let unidade of unidadesMedida" [value]="unidade.unidadeMedida"
                (click)="atualizaPesoCaracteristica(unidade)">
                {{unidade.quantidade}} - {{unidade.unidadeMedida}}
              </mat-option>
            </mat-select>
            <mat-hint class="text-danger font-14"
              *ngIf="formulario.controls['peso'].hasError('required') && formulario.controls['peso'].touched">
              O peso é obrigatório.
            </mat-hint>
          </mat-form-field>
        </div>

        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100">
          <mat-form-field class="example-full-width">
           <!--  <input matInput placeholder="Preço" 
            type="number" formControlName="preco"> -->
            <input matInput 
            currencyMask formControlName="preco" 
            placeholder="preço"
            [value]="mercadoProduto.preco | moedaPadrao"
            [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align:'left'}"/>
          </mat-form-field>
        </div>

        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100">
          <mat-form-field class="example-full-width">
            <input type="text" matInput placeholder="Observação" formControlName="observacao"
              [value]="mercadoProduto.observacao || ''">
          </mat-form-field>
        </div>
        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100">
          <mat-form-field class="example-full-width">
            <mat-select placeholder="boost" formControlName="boost" [(ngModel)]="boostOn">
              <mat-option *ngFor="let boost of boosts" [value]="boost.id">
                {{boost.name}}
              </mat-option>
            </mat-select>
            <mat-hint class="text-danger font-14"
              *ngIf="formulario.controls['boost'].hasError('required') && formulario.controls['boost'].touched">
              O boost é obrigatório.
            </mat-hint>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="warn" *ngIf="hasEdit" (click)="cancelar()">CANCELAR</button>
      <button mat-button color="warn" *ngIf="hasEdit && mercadoProduto.idMercadoProduto"
        (click)="excluir()">EXCLUIR</button>
      <button mat-button color="primary" 
        [disabled]="formulario.invalid" *ngIf="hasEdit"
        (click)="btnSalvar()">SALVAR</button>
      <button mat-button color="primary" *ngIf="!hasEdit" (click)="formulario.enable(); hasEdit = true">Editar</button>
    </mat-card-actions>

  </form>
</mat-card>