<mat-card>
  <form [formGroup]="formulario" autocomplete="off">
    <mat-card-title>
      <h4>ID {{ produto.idProduto ? produto.idProduto : 'Indefinido' }}</h4>

      <!-- <button mat-raised-button color="primary">Adicionar Foto</button> -->
    </mat-card-title><!--  -->
    <mat-card-content>
      <div fxLayout="row" fxLayoutWrap="wrap">
        <div mat-card-md-image style="width:55%;margin: auto;" alt=""></div>
        <div style="margin: auto;">
        </div>
      </div>
      <div fxLayout="row" fxLayoutWrap="wrap">
        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" style="margin-top:10px;">
          <mat-form-field>
            <mat-select placeholder="Categorias" 
                        formControlName="categoria" 
                        [(ngModel)]="produto.categoria.idCategoria"
                        (selectionChange)="atualizaCategoriaSelect($event.value)">
              <mat-option *ngFor="let categoria of categorias" [value]="categoria">
                {{categoria.nome}}
              </mat-option>
            </mat-select>
            <mat-hint *ngIf="formulario.controls['categoria'].hasError('required') && formulario.controls['categoria'].touched"
              class="text-danger font-14">A Categoria é obrigatória.</mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Subcategorias" 
                        formControlName="subcategoria" 
                        [(ngModel)]="produto.subcategoria.idSubcategoria"
                        (selectionChange)="atualizaSubcategoriaSelect($event.value)">
              <mat-option *ngFor="let subcategoria of subcategorias" [value]="subcategoria">
                {{subcategoria.nome}}
              </mat-option>
            </mat-select>
            <mat-hint *ngIf="formulario.controls['subcategoria'].hasError('required') && formulario.controls['subcategoria'].touched"
              class="text-danger font-14">A subcategoria é obrigatória.</mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Produtos" 
                        formControlName="produto"> 
              <mat-option *ngFor="let produto of filterProdutos" [value]="produto"> 
                {{produto.nome}}
              </mat-option>
            </mat-select>
            <mat-hint *ngIf="formulario.controls['produto'].hasError('required') && formulario.controls['produto'].touched"
              class="text-danger font-14">O produto é obrigatório.</mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Marca" 
                        formControlName="marca"
                        (selectionChange)="atualizaMarcaSelect($event.value)">
              <mat-option *ngFor="let marca of marcas" [value]="marca"> 
                {{marca}}
              </mat-option>
            </mat-select>
            <mat-hint *ngIf="formulario.controls['marca'].hasError('required') && formulario.controls['marca'].touched"
              class="text-danger font-14">A marca é obrigatório.</mat-hint>
          </mat-form-field>
          
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Característica">
            <mat-hint class="text-danger font-14">A caracteristica é obrigatória.</mat-hint>
          </mat-form-field>
        </div>
        <div fxFlex.gt-sm="80" fxFlex.gt-xs="80">
          <mat-form-field class="example-full-width">
            <input matInput type="number" placeholder="Quantidade">
            <mat-hint class="text-danger font-14">A quantidade é obrigatória.</mat-hint>
          </mat-form-field>
        </div>
        <div fxFlex.gt-sm="20" fxFlex.gt-xs="20">
          <mat-form-field>
            <mat-select placeholder="UM" formControlName="unidadeMedida" [(ngModel)]="produto.unidadeMedida.idUnidade"
              (selectionChange)="atualizaUnidadeMedidaSelect($event.value)">
              <mat-option *ngFor="let unidadeMedida of unidadesMedida" [value]="unidadeMedida.idUnidade">
                {{unidadeMedida.sigla}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="warn">CANCELAR</button>
      <button mat-raised-button color="warn">EXCLUIR</button>
      <button mat-raised-button color="primary">SALVAR</button>

    </mat-card-actions>
  </form>
</mat-card>