:host {
  margin: -6px -5px;
  display: block;
}

.mail-title {
  padding-left: 15px;
}

.email-sidebar .selected .d-flex {
  background-color: white !important;
  color: #009b89;
}

.mat-drawer-container {
  background-color: white !important;
}