<mat-card [ngStyle]="{ 'opacity': mercado.fativo === false ? '0.5' : '1' }">
  <mat-card-content>
    <!-- <h4>Pré visualização</h4> -->
    <div fxLayout="row" fxLayoutWrap="wrap">
      <div fxFlex.gt-sm="20" fxFlex.gt-xs="20">
        <img height="100" [src]="mercado.imagemUrl" width="100px">
      </div>
      <div fxFlex.gt-sm="80" fxFlex.gt-xs="80">
        <div fxLayout="row" fxLayoutWrap="wrap">
          <div fxFlex.gt-sm="60" fxFlex.gt-xs="60">
            <div fxLayout="row" fxLayoutWrap="wrap">
              <span style="font-weight: 500; padding-left: 5px;">{{ mercado.nomeFantasia }}
                <span *ngIf="mercado.fativo === false">(Inativo)</span>
              </span>
            </div>
            <div fxLayout="row" fxLayoutWrap="wrap">
              <a [routerLink]="['/secure/cadastro-mercado', mercado.idMercado]" style="padding: 5px;"
                *ngIf="mercado.fativo === true">
                <span class="btn-success">Editar</span>
              </a>
              <span (click)="desativar()" style="padding: 5px; cursor: pointer;"
                *ngIf="mercado.fativo === true">Desativar</span>
            </div>
          </div>
          <div fxFlex.gt-sm="40" fxFlex.gt-xs="40" class="text-right">
            <p>Valor da conta total: {{ getValorTotal() | currency:'BRL':true }}</p>
          </div>
        </div>
        <hr>
        <div fxLayout="row" fxLayoutWrap="wrap">
          <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
            <span style="padding-right: 10px">Razão social: </span>
            {{ mercado.razaoSocial }}
          </div>
          <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
            <span style="padding-right: 10px">Telefone: </span>
            {{ mercado.telefone }}
          </div>
          <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
            <span style="padding-right: 10px">Nome fantasia:
            </span>
            {{ mercado.nomeFantasia }}
          </div>
          <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
            <span style="padding-right: 10px">E-mail: </span>
            {{ mercado.email }}
          </div>
          <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
            <span style="padding-right: 10px">CNPJ: </span>
            {{ mercado.cnpj }}
          </div>
          <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
            <span style="padding-right: 10px">Senha: </span>
            {{ mercado.senha }}
          </div>
        </div>
        <hr>
        <div fxLayout="row" fxLayoutWrap="wrap">
          <div fxFlex.gt-sm="100" fxFlex.gt-xs="100">
            <mat-tab-group class="demo-tab-group">
              <mat-tab *ngFor="let localidade of mercado.mercadoLocalidades">
                <ng-template mat-tab-label>
                  {{ localidade.bairro.cidade.nome }} - {{ localidade.bairro.nome }}
                </ng-template>
                <div class="demo-tab-content">
                  <div fxLayout="row" fxLayoutWrap="wrap">
                    <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" *ngFor="let servico of localidade.mercadoServicos">
                      {{ '- ' + servico.pacoteServico.nome }}
                    </div>
                  </div>
                  <br>
                  <div fxLayout="row" fxLayoutWrap="wrap" class="text-right">
                    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" class="text-right">
                      <p>Valor da conta regional: {{ getValorRegional(localidade) | currency:'BRL':true }}</p>
                    </div>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>