<mat-card [ngStyle]="{ 'opacity': mercado.fativo === false ? '0.5' : '1' }">
  <mat-card-content>
    <!-- <h4>Pré visualização</h4> -->
    <div fxLayout="row" fxLayoutWrap="wrap">
      <div fxFlex.gt-sm="20" fxFlex.gt-xs="20">

        <img height="100" [src]="myImage" style="margin-left:30px;">

      </div>
      <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
        <p style="font-weight: 500">{{ mercado.nomeFantasia }} <span *ngIf="mercado.fativo === false">(Inativo)</span>
        </p>
        <a [routerLink]="['/secure/cadastro-mercado', mercado.idMercado]" *ngIf="mercado.fativo === true">
          <span class="label label-success">Editar</span>
        </a>
        <a (click)="desativar()" *ngIf="mercado.fativo === true">
          <span class="label label-danger pointer">Desativar</span>
        </a>
      </div>
      <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" class="text-right">
        <p>Valor da conta total: {{ getValorTotal() | currency:'BRL':true }}</p>
      </div>
    </div>
    <hr>
    <div fxLayout="row" fxLayoutWrap="wrap">
      <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
        <span style="font-weight: 500; padding-right: 10px">Razão social: </span>
        {{ mercado.razaoSocial }}
      </div>
      <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
        <span style="font-weight: 500; padding-right: 10px">Senha: </span>
        {{ mercado.senha }}
      </div>
      <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
        <span style="font-weight: 500; padding-right: 10px">Nome fantasia:
        </span>
        {{ mercado.nomeFantasia }}
      </div>
      <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
        <span style="font-weight: 500; padding-right: 10px">Telefone: </span>
        {{ mercado.telefone }}
      </div>
      <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
        <span style="font-weight: 500; padding-right: 10px">CNPJ: </span>
        {{ mercado.cnpj }}
      </div>
      <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
        <span style="font-weight: 500; padding-right: 10px">E-mail: </span>
        {{ mercado.email }}
      </div>
    </div>
    <hr>
    <mat-tab-group class="demo-tab-group">
      <mat-tab *ngFor="let localidade of mercado.mercadoLocalidades">
        <ng-template mat-tab-label>
          {{ localidade.bairro.cidade.nome }} - {{ localidade.bairro.nome }}
        </ng-template>
        <div class="demo-tab-content">
          <div fxLayout="row" fxLayoutWrap="wrap">
            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
              {{ localidade.googlemapsLinks.split(',').length === 1 ? '- 1 Filial' :
              ('- ' + localidade.googlemapsLinks.split(',').length + ' filiais') }}
            </div>
            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" *ngFor="let servico of localidade.mercadoServicos">
              {{ '- ' + servico.pacoteServico.nome }}
            </div>
          </div>
          <br>
          <div fxLayout="row" fxLayoutWrap="wrap">
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" class="text-right">
              Valor da conta regional: {{ getValorRegional(localidade) | currency:'BRL':true }}
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>