<mat-toolbar color="primary" class="little">
    <span>Cadastros de produtos</span>
    <span fxFlex></span>
    <button mat-button href="#" mat-icon-button (click)="adicionarProdutoForm()">
        <mat-icon>add</mat-icon>
    </button>
    <button mat-button href="#" mat-icon-button (click)="getProdutos()">
        <mat-icon>refresh</mat-icon>
    </button>
    <button mat-button href="#" mat-icon-button>
        <mat-icon>more_vert</mat-icon>
    </button>
</mat-toolbar>

<div fxLayout="row" fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="33.33%" fxFlex="100" *ngFor="let produto of produtos">
        <app-produtos-form [produto]="produto" (removerProduto)="aoRemover($event)" (salvarProduto)="atualizaProduto($event)"></app-produtos-form>
    </div>
</div>