<mat-card>
  <form [formGroup]="formulario" autocomplete="off">
    <mat-card-content>
      <div fxLayout="row" fxLayoutWrap="wrap">
        <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Razão Social" formControlName="razaoSocial" [(ngModel)]="mercadoComponent.mercado.razaoSocial">
            <mat-hint *ngIf="formulario.controls['razaoSocial'].hasError('required') && formulario.controls['razaoSocial'].touched"
              class="text-danger font-14">A Razão Social é obrigatória.</mat-hint>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Nome Fantasia" formControlName="nomeFantasia" [(ngModel)]="mercadoComponent.mercado.nomeFantasia">
            <mat-hint *ngIf="formulario.controls['nomeFantasia'].hasError('required') && formulario.controls['nomeFantasia'].touched"
              class="text-danger font-14">O Nome Fantasia é obrigatória.</mat-hint>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="CNPJ" formControlName="cnpj" [(ngModel)]="mercadoComponent.mercado.cnpj"
              [textMask]="{mask: maskCnpj}">
            <mat-hint *ngIf="formulario.controls['cnpj'].hasError('required') && formulario.controls['cnpj'].touched"
              class="text-danger font-14">O CNPJ é obrigatória.</mat-hint>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Telefone" formControlName="telefone" [(ngModel)]="mercadoComponent.mercado.telefone"
              [textMask]="{mask: maskTelefone}">
            <mat-hint *ngIf="formulario.controls['telefone'].hasError('required') && formulario.controls['telefone'].touched"
              class="text-danger font-14">O Telefone é obrigatória.</mat-hint>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput type="email" placeholder="E-mail" formControlName="email" [(ngModel)]="mercadoComponent.mercado.email">
            <mat-hint *ngIf="formulario.controls['email'].hasError('required') && formulario.controls['email'].touched"
              class="text-danger font-14">O Email é obrigatória.</mat-hint>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput type="senha" placeholder="Senha" formControlName="senha" [(ngModel)]="mercadoComponent.mercado.senha">
            <mat-hint *ngIf="formulario.controls['senha'].hasError('required') && formulario.controls['senha'].touched"
              class="text-danger font-14">A senha é obrigatória.</mat-hint>
          </mat-form-field>
        </div>
        <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="warn">CANCELAR</button>
      <button mat-button color="primary" (click)="proximaTab()">SEGUINTE</button>
    </mat-card-actions>
  </form>
</mat-card>