.box-superior{
    background:#009b89 !important;  
    margin-top:-15px; 
    margin-left: -15px !important;
    width: 105% !important;
} 
.mat-toolbar{
    color: #eee;
    font-size: 1em;
}

mat-toolbar mat-form-field {
    padding-left: 10px;
    padding-right: 10px;
}

.mat-toolbar.little {
    border-radius: 15px;
}


  