<form [formGroup]="formLocalidade" autocomplete="off">
    <mat-toolbar class="box-superior">
        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100">
            <div fxLayout="row" fxLayoutWrap="wrap">
                <div fxFlex.gt-sm="20" fxFlex.gt-xs="20">
                    <mat-form-field class="m-r-0  m-t-10">
                        <mat-select placeholder="Estado" formControlName="estado">
                            <mat-option *ngFor="let estado of listaEstados" [value]="estado"
                                (click)="atualizaCidadeSelect(estado)">
                                {{estado.nome}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex.gt-sm="20" fxFlex.gt-xs="20">
                    <mat-form-field class="m-r-0  m-t-10">
                        <mat-select placeholder="Cidade" formControlName="cidade">
                            <mat-option *ngFor="let cidade of listaCidades" [value]="cidade"
                                (click)="atualizaBairroSelect(cidade)">
                                {{cidade.nome}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex.gt-sm="20" fxFlex.gt-xs="20">
                    <mat-form-field class="m-r-0  m-t-10">
                        <mat-select placeholder="Bairro" formControlName="bairro">
                            <mat-option *ngFor="let bairro of listaBairros" [value]="bairro">
                                {{bairro.nome}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex.gt-sm="20" fxFlex.gt-xs="20">
                    <mat-form-field class="m-l-10 m-t-10">
                        <input matInput formControlName="dataEntrada" [matDatepickerFilter]="myFilter" [min]="minDate"
                            [matDatepicker]="picker" placeholder="Data de Entrada" readonly
                            (dateChange)="getDataEntrada($event)">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div fxFlex.gt-sm="20" fxFlex.gt-xs="20" class="m-t-20 ">
                    <button mat-raised-button class="m-l-20"
                        style="background-color:transparent; color:#fff; float: right; margin-right: 32px;"
                        [disabled]="formLocalidade.invalid" (click)="pesquisarMercadoProdutos()">PESQUISAR
                    </button>
                </div>
            </div>
        </div>
    </mat-toolbar>
</form>

<mat-toolbar color="primary" style=" margin:10px 15px" class="little" *ngIf="mercadoprodutos">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100">
        <div fxLayout="row" fxLayoutWrap="wrap">
            <div fxFlex.gt-sm="30" fxFlex.gt-xs="30">
                <mat-form-field class="m-r-0  m-t-10">
                    <mat-select placeholder="Categoria">
                        <mat-option *ngFor="let categoria of listaCategorias" [value]="categoria"
                            (click)="atualizaCategoriaSelect(categoria)">
                            {{categoria.nome}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" style="padding: 0px 20px">
                <div style="margin-top: 22px;">
                    Qd Produtos: {{mercadoprodutos.length}}
                </div>
            </div>
        </div>
    </div>
    <span fxFlex></span>
    <button mat-button href="#" mat-icon-button (click)="adicionarProdutoForm()">
        <mat-icon>add</mat-icon>
    </button>
</mat-toolbar>

<div fxLayout="row" fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="33.33%" fxFlex="100" *ngFor="let mercadoProduto of mercadoprodutos">
        <app-produtos-mercado-form [mercadoProduto]="mercadoProduto" [localidadeAtual]="localidade"
            [dtEntrada]="dtEntrada" (salvarMercadoProduto)="atualizaMercadoProduto($event)"
            (removerMercadoProduto)="aoRemover($event)">
        </app-produtos-mercado-form>
    </div>
</div>