.card-tab{
    width: 70%;
    margin: 0 auto;
    margin-top:40px;
    padding: 50px;
    border:1px solid rgb(70, 68, 68);
    border-radius: 10px;

}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #009b89 !important;
}

.mat-chip.mat-standard-chip {
    margin-top:20px;
    background-color: #eee;
    color: #000;
}

.mat-chip.mat-standard-chip:checked {
    background-color: #009b89;
    color: #fff;
}

