<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
    <!-- column -->
    <div fxFlex.gt-sm="33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card style="border: 1px solid grey; border-radius: 10px">
            <mat-card-title style="margin: 10px">
                <div style="height: 300px; width: 100%; background-color: black;"></div>
                <button mat-raised-button color="primary" style="width: 100%">Adicionar Foto</button>
            </mat-card-title>
            <mat-card-content style="margin-bottom: 0; padding-bottom: 0;">
                <!-- Row -->
                <div fxLayout="row" fxLayoutWrap="wrap">
                    <!-- column -->
                    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Nome">
                            <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="emailFormControl.hasError('required')">
                                Email is <strong>required</strong>
                            </mat-error> -->
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions style="margin: 10px !important; text-align: right;">
                <button mat-raised-button color="warn">DELETAR</button>
                <button mat-raised-button color="primary">SALVAR</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <!-- column -->
    <div fxFlex.gt-sm="33" fxFlex.gt-xs="100" fxFlex="100">
            <mat-card style="border: 1px solid grey; border-radius: 10px">
            <mat-card-title style="margin: 10px">
                <div style="height: 300px; width: 100%; background-color: black;"></div>
                <button mat-raised-button color="primary" style="width: 100%">Adicionar Foto</button>
            </mat-card-title>
            <mat-card-content style="margin-bottom: 0; padding-bottom: 0;">
                <!-- Row -->
                <div fxLayout="row" fxLayoutWrap="wrap">
                    <!-- column -->
                    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Nome">
                            <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                    Please enter a valid email address
                                </mat-error>
                                <mat-error *ngIf="emailFormControl.hasError('required')">
                                    Email is <strong>required</strong>
                                </mat-error> -->
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions style="margin: 10px !important; text-align: right;">
                <button mat-raised-button color="warn">DELETAR</button>
                <button mat-raised-button color="primary">SALVAR</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <!-- column -->
    <div fxFlex.gt-sm="33" fxFlex.gt-xs="100" fxFlex="100">
            <mat-card style="border: 1px solid grey; border-radius: 10px">
            <mat-card-title style="margin: 10px">
                <div style="height: 300px; width: 100%; background-color: black;"></div>
                <button mat-raised-button color="primary" style="width: 100%">Adicionar Foto</button>
            </mat-card-title>
            <mat-card-content style="margin-bottom: 0; padding-bottom: 0;">
                <!-- Row -->
                <div fxLayout="row" fxLayoutWrap="wrap">
                    <!-- column -->
                    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Nome">
                            <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                    Please enter a valid email address
                                </mat-error>
                                <mat-error *ngIf="emailFormControl.hasError('required')">
                                    Email is <strong>required</strong>
                                </mat-error> -->
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions style="margin: 10px !important; text-align: right;">
                <button mat-raised-button color="warn">DELETAR</button>
                <button mat-raised-button color="primary">SALVAR</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>