<div fxLayout="row" class="background-white" fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="50%" class="show-lg">
        <img src="assets/images/login-cut.jpg" alt="" style="height: 105%;">
    </div>
    <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxLayoutWrap="wrap" class="center-cel">
        <div class="login-register">
            <div class="login-register-box">
                <mat-card style="box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.05) !important;">
                    <mat-card-content>
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                            <div class="text-center">
                                <img alt="homepage" src="assets/images/Logo Sheap-04.svg" height="150">
                            </div>

                            <div fxLayout="row" fxLayoutWrap="wrap">
                                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                                    <mat-form-field>
                                        <input matInput placeholder="Username"
                                            [formControl]="form.controls['username']">
                                    </mat-form-field>
                                    <small
                                        *ngIf="form.controls['username'].hasError('required') && form.controls['username'].touched"
                                        class="text-danger support-text">O nome de usuário é obrigatório.</small>
                                </div>
                                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                                    <mat-form-field>
                                        <input matInput type="password" placeholder="Password"
                                            [formControl]="form.controls['password']">
                                    </mat-form-field>
                                    <small
                                        *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched"
                                        class="text-danger support-text">A senha é obrigatória.</small>
                                </div>
                                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" class="text-center"
                                    *ngIf="error">
                                    <br>
                                    <span style="color: red">Usuário ou senha inválida</span>
                                </div>
                                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" class="text-center">
                                    <button mat-raised-button class=" btn-lg m-t-20 m-b-20 login-btn" type="submit"
                                        [disabled]="!form.valid">Entrar</button>
                                </div>
                                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" class="text-center">
                                    <span>Precisando de
                                        <a [routerLink]="['/authentication/register']" class="text-info link">Ajuda?</a>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </mat-card-content>

                </mat-card>
            </div>
        </div>
    </div>
    <ngx-loading [show]="loading"
        [config]="{ primaryColour:'#009b89',secondaryColour:'#009b89',tertiaryColour:'#009b89'}"
        [template]="customLoadingTemplate">
    </ngx-loading>
</div>