<mat-toolbar color="primary" class="little">
  <span>Cadastros das FAQs</span>
  <span fxFlex></span>
  <button mat-button href="#" mat-icon-button (click)="adicionarFaqForm()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-button href="#" mat-icon-button (click)="getFaqs()">
    <mat-icon>refresh</mat-icon>
  </button>
  <button mat-button href="#" mat-icon-button>
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<div fxLayout="row" fxLayoutWrap="wrap">
  <div fxFlex.gt-sm="50%" fxFlex="100" *ngFor="let faq of faqs">
    <app-faq-form [faq]="faq" (removerFaq)="aoRemover($event)" (atualizaFaq)="aoSalvar($event)"></app-faq-form>
  </div>
  <ngx-loading [show]="loading"
  [config]="{ primaryColour:'#009b89',secondaryColour:'#009b89',tertiaryColour:'#009b89'}"
  [template]="customLoadingTemplate">
</ngx-loading>
</div>